@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    scroll-behavior: smooth;
}

p {
    margin-bottom: 0;
}

h1 {
    margin-bottom: 0;
}

a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

:root {
    --primary-color: #ff6600;
    --secondary-color: #ffc600;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, .05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

/* banner header */
.banner {
    position: relative;
    min-height: 700px;
    background: linear-gradient(to right, #ff6600, hsl(36deg 100% 1% / 20%)), url(./image/banner1.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 20;
}

.banner .header {
    padding-top: 40px;
    padding-bottom: 20px;
}

.banner .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    text-align: center;
}

.mode-container,
.nav-bar {
    margin-left: 20px;
}

.header .logo a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.navigation .search {
    position: relative;
}

.navigation .search input {
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    color: var(--font-color);
    font-weight: 400;
    border-radius: var(--border-radius);
    position: relative;
    right: 0;
    background: var(--bg-color);
    outline: 0;
    border: 1px solid var(--bg-color);
}

.navigation .search i {
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
    color: var(--font-color);
}

.mode-container {
    width: 24px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

.mode-container i {
    font-size: 25px;
    line-height: 45px;
    color: #fff;
}

.mode-sun {
    display: none;
}

.nav-bar {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    color: #fbfdfb;
    font-size: 1.95em;
    padding: 0 8px;
}
/* end banner-header */

.banner-info {
    color: #fff;
    max-width: 600px;
    text-align: left;
    margin-top: 100px;
}

.banner-info h1 {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
}

.banner-info p {
    line-height: 28px;
    padding-right: 40px;
}

.banner-info a {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 48px;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
}

.banner-info a:hover {
    background: #fff;
    border: 2px solid #fff;
    color: var(--primary-color);
}

/* end banner header */

/* begin about */
.about {
    padding: 48px 0;
}

.about .container {
    padding: 48px 15px;
}

.about .about-content {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px;
}

.about-left {
    padding: 0 15px;
}

.about-left h1 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.about-left p {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #232121;
    margin-bottom: 24px;
}

.about-right {
    padding-left: 48px;
    padding-right: 15px;
}

.about-right p {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
}

.about-right p:first-child {
    margin-bottom: 16px;
}

/* end about */

/* begin booking */
.booking-row {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-bg-img {
    min-height: 600px;
    background: url(./image/banner3.jpg) 60% center / cover no-repeat;
    position: relative;
}

.booking-bg-img::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(16, 15, 19, 0.5);
}

.booking-row:hover .booking-bg-img::before {
    display: none;
}

.booking-right {
    padding: 16px 24px;
}

.booking-content {
    padding: 48px;
}

.booking-content h1 {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
}

.booking-content h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.booking-content>p {
    font-size: 18px;
    color: #ffdfc9;
    margin: 16px 0;
}

.booking-best {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 3rem;
}

.booking-best .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    border-radius: var(--border-radius);
    transition: 0.3s ease-in-out;
    margin-bottom: 24px;
}

.booking-item .icon i {
    color: var(--primary-color);
    font-size: 25px;
}

.booking-item:hover .icon i {
    color: var(--secondary-color);
}

.booking-item a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    color: #232121;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: none;
}

.booking-item p {
    font-size: 18px;
    line-height: 28px;
    color: #ffdfc9;
    margin-top: 8px;
}

/* end booking */

/* begin category */
.category {
    background-color: #f7f7f7;
    padding-bottom: 48px;
}

.category .container {
    padding: 48px 15px;
}

.category-header {
    text-align: center;
}

.category-header h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: 'Pacifico', cursive;
}

.category-header h2 {
    color: #232121;
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 48px;
}

.category-row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.category-item {
    padding: 15px;
}

.category-body {
    position: relative;
    transition: all 0.4s ease;
}

.category-body:hover img {
    opacity: 0.85;
}

.category-body a {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: block;
    position: relative;
    text-decoration: none;
}

.category-body a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}

.category-body img {
    width: 100%;
}

.category-content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 40px;
}

.category-content h1 {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.category-content span {
    display: block;
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-top: 5px;
}
/* end category */

/* begin services */
.services {
    padding: 48px 0;
}

.services .container {
    padding: 48px 15px;
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.services-col {
    padding: 15px;
}

.services-content {
    padding: 40px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    position: relative;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.services-content:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 20%);
}

.services-content .box-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.services .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: var(--bg-light);
    line-height: 70px;
    border-radius: var(--border-radius);
    transition: 0.3s ease-in-out;
}

.services .icon i {
    color: var(--primary-color);
    font-size: 25px;
    line-height: 70px;
}

.services .info p {
    color: #212529;
}

.services .info a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #232121;
}

.services-content:hover .icon {
    background-color: var(--primary-color);
}

.services-content:hover .icon i {
    color: #fff;
}

.services-content>p {
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
    margin-top: 1rem;
}
/* end services */

/* begin contact */
.contact {
    padding: 48px 0;
    position: relative;
    z-index: 1;
    background: url(./image/banner2.jpg) center center / cover no-repeat;
}

.contact::after {
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.contact .container {
    padding: 15px;
}

.contact .welcome {
    max-width: 700px;
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}

.contact .welcome h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    max-width: 800px;
    padding: 0 48px;
}

.contact .welcome-btn {
    padding-bottom: 48px;
}

.contact .welcome-btn span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact .welcome-btn .btn-left {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    margin-top: 48px;
}

.contact .welcome-btn .btn-left:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.contact .welcome-btn .btn-right {
    background-color: var(--primary-color);
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    margin-top: 48px;
    margin-left: 24px;
    color: #fff;
}

.contact .welcome-btn .btn-right:hover {
    opacity: 0.8;
}

.contact .welcome-btn i {
    margin-left: 8px;
    font: 20px;
}
/* end contact */

/* begin statistic */
.statistic {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.statistic .content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 20px;
    text-align: center;
    transition: .3s ease;
    background-color: #fff;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 5px 0px rgb(1 1 1 / 5%);
}

.statistic .content:hover {
    transform: translateY(-4px);
    box-shadow:
        0px 2px 4px rgb(46 41 51 / 8%),
        0px 5px 10px rgb(71 63 79 / 16%);
}

.statistic .content i {
    background: var(--primary-color);
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
}

.statistic .content span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.6em;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 16px;
    line-height: 1.5;
    display: inline-block;
}

.statistic .content p {
    color: var(--font-color);
    font-weight: 600;
    font-size: 18px;
}

/* end statistic */

/* intro-video */
.intro-video {
    padding: 48px 0;
}

.intro-video .container {
    padding: 48px 15px;
}

.intro-video .content {
    background: url(./image/banner3.jpg) center center / cover no-repeat;
    min-height: 500px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.intro-video .content::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background: rgb(16 15 19 / 50%);
    border-radius: var(--border-radius);
}

.intro-video button {
    display: block;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

.intro-video button:hover {
    transform: scale(1.2);
}

.intro-video button i:hover {
    transform: scale(1.2);
    background-color: var(--primary-color);
    color: #fff;
}

.intro-video button i {
    position: relative;
    display: grid;
    place-items: center;
    font-size: 26px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border: transparent;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    color: var(--primary-color);
}

.intro-video button span {
    position: absolute;
    display: block;
    /* width: 80px;
    height: 80px; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    animation: ripple ease-in 1.5s infinite;
    z-index: -1;
}

.intro-video button span:nth-child(2){
    animation-delay: .5s;
}

.intro-video button span:nth-child(3){
    animation-delay: 1s;
}

@keyframes ripple {
    0%{
        opacity: 0.6;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}
/* end intro video */

/* begin blog */
.blog {
    padding: 48px 0;
    background: var(--bg-grey);
}

.blog .container {
    padding: 48px 15px;
}

.blog-title {
    text-align: center;
}

.blog-title h6 {
    font-family: "Pacifico", cursive, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
}

.blog-title h2 {
    display: block;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: var(--heading-color);
}

.blog a {
    display: inline-block;
}

.blog .row {
    margin: 0 -15px;
}

.blog .item {
    margin-top: 48px;
    padding: 0 15px;
}

.blog .row .content {
    display: flex;
    flex-direction: column;
}

.blog .content-header {
    height: 40%;
    position: relative;
}

.blog .content-body {
    height: 60%;
}

.blog .content-header a img {
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
}

.content-post {
    position: absolute;
    bottom: 12px;
    left: 15px;
}

.blog .content-post a {
    background: var(--primary-color);
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: .05em;
}

.blog .content-post p {
    display: inline-block;
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: .02em;
}

.blog .content-body>a {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: var(--heading-color);
    margin-top: 25px;
    margin-bottom: 15px;
}

.blog .content-body p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
}

.blog .content-footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.blog .cus-info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

.blog .content-footer a {
    color: var(--heading-color);
    font-weight: 700;
    letter-spacing: .02em;
}

.blog .cus-info a img {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}


.blog .content-footer a span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .02em;
    color: inherit;
    opacity: .9;
}

.blog .content-footer a i {
    font-size: 18px;
    font-weight: 700;
    margin-left: 2px;
}

.blog .content-footer>a:hover {
    color: var(--primary-color);
}

/* end blog */

/* beign review */
.review {
    padding: 48px 0;
}

.review .container {
    padding: 48px 15px;
}

.review-title {
    text-align: center;
}

.review-title h6 {
    font-family: "Pacifico", cursive;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--primary-color);
}

.review-title h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 48px;
}

.review-content {
    padding: 8px 0;
    margin-bottom: 24px;
}

.review-body {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.review .comment-img {
    display: block;
    margin: 0 auto 20px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
}

.review .comment-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.review .carousel-item .review-icon i{
    font-size: 22px;
    color: var(--primary-color);
}

.review .carousel-item>p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: var(--heading-color);
    font-weight: 600;
    letter-spacing: 1px;
    font-style: italic;
    margin: 5px 0 16px;
}

.review .carousel-item>p::before {
    content: '"';
    font-family: inherit;
    color: var(--primary-color);
    font-size: 30px;
}

.review .carousel-item>p::after {
    content: '"';
    font-family: inherit;
    color: var(--primary-color);
    font-size: 30px;
}

.review .carousel-item>span {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
}

.review-customer {
    margin-top: 24px;
    text-align: center;
}

.review-customer h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
}

.review-customer p {
    margin-top: 4px;
    font-size: 18px;
    opacity: 0.8;
    color: var(--font-color);
}

.review-content .carousel-indicators {
    bottom: -70px;
}

.review-content .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    background: #d8d8d8;
    transition: opacity .2s ease;
    border-radius: 50%;
    display: block;
    opacity: 1;
    border: none;
}

.review-content .carousel-indicators .active {
    background: var(--primary-color);
}

/* end review */

/* begin footer */
.footer {
    padding: 48px 0;
    background-color: var(--footer-bg);
}

.footer .container {
    padding: 24px 15px;
}

.footer .row {
    margin: 0 -15px;
}

.footer .row .item {
    padding: 0 15px;
}

.footer-dinner a h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
    transition: all 0.2s ease;
}

.footer-dinner a:hover h1 {
    color: var(--primary-color);
}

.footer-dinner p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer-social-logo {
    margin-top: 24px;
}

.footer-social-logo a {
    margin-right: 10px;
    color: var(--primary-color);
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: var(--bg-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.footer-social-logo a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.footer-links h1 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer-links ul li:hover a {
    color: var(--primary-color);
}

.footer-subscribe h1 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.footer-subscribe p {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.footer-subscribe form {
    margin-top: 24px;
}

.footer-subscribe form input {
    padding: 14px 20px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    color: var(--font-color);
    background: var(--bg-color);
    border-radius: var(--border-radius);
}

.footer-subscribe form button {
    color: #fff;
    text-align: center;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    background: var(--primary-color);
}
/* end footer */

/* begin copyright */
.copyright {
    background-color: var(--footer-bg);
    padding: 20px 0;
}

.copy-content {
    align-self: center;
    color: #ddd;
    font-size: 17px;
}

.copy-content a {
    color: var(--primary-color);
}

.copy-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.copy-list ul li a {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}

.copy-list ul li:hover a {
    color: var(--primary-color);
}
/* end copyright */

/* back to top */
.back-to-top {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    z-index: 2000;
}

.back-to-top:hover {
    color: var(--primary-color);
}
/* end back to top */

/* begin right side bar */
.right-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 150px;
    z-index: 500;
    width: 88px;
    text-align: center;
}

.rsb-container {
    padding: 0 5px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.rsb-toggle {
    color: #e6ebff;
    font-size: 20px;
    opacity: 0.6;
    padding: 12px 0;
    border-bottom: 1px solid #41414d;
    cursor: pointer;
}

.rsb-toggle:hover {
    color: #fff;
    opacity: 1;
}

.rsb-toggle i {
    display: block;
    line-height: 50px;
}

.rsb-nav {
    padding: 30px 0;
}

.rsb-nav a {
    display: block;
    color: #e6ebff;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
    transition:  ease;
}

.rsb-nav a:hover {
    color: #fff;
    opacity: 1;
}

.rsb-nav a i {
    display: block;
    font-size: 14px;
    font-weight: 700;
}
/* end right side bar */

/* modal navbar button */
.modal-nav-btn {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(6 3 0 / 77%);
    z-index: 1000;
    display: none;
    animation-duration: 0.5s;
}

.modal-nav-btn.open {
    display: block;
}

.modal-nav-btn button {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
}

.modal-nav-menu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.modal-nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.modal-nav-menu ul li {
    line-height: 48px;
    
}

.modal-nav-menu ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    display: block;
    transition: all 0.2s;
}

.modal-nav-menu ul li:hover a {
    color: var(--primary-color);
}
/* end modal navbar button */

/* begin modal intro video */
.modal-intro-video {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-intro-video.open {
    display: flex;
}

.modal-intro-video .content {
    position: relative;
    max-width: 750px;
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.modal-intro-video .content button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    position: absolute;
    right: 0;
    top: -32px;
    width: 30px;
    height: 30px;
}

.modal-intro-video .content button:hover {
    color: var(--primary-color);
}

.modal-intro-video .content iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}
/* end modal */

.animate__zoomIn {
    animation-duration: 0.5s;
}

/* Responsive */
@media screen and (max-width: 992px) {
    .banner {
        width: 100%;
        min-height: 600px;
    }
    
    /* about responsive*/
    .about {
        padding: 16px 0;
    }

    .about .about-content {
        display: block;
    }

    .about-left {
        text-align: center;
    }

    .about-right {
        padding-left: 15px;
        text-align: left;
    }

     /* statistic responsive */
     .statistic {
        margin-top: 0;
        padding: 24px 0;
    }

    .statistic .row .item {
        margin-top: 24px;
    }

    .statistic .row .item .content {
        text-align: center;
    }

    .statistic .row .item i{
        display: inline-block;
    }

    .statistic .row .item span{
        display: block;
    }

    .statistic .content {
        box-shadow: 1px 1px 5px 0px rgb(1 1 1 / 20%);
    }

    /* booking responsive*/
    .booking-row {
        display: block;
    }

    .booking-left {
        padding: 15px;
    }

    .booking-bg-img {
        min-height: 400px;
    }

    .booking-bg-img::before{
        display: none;
    }

    /* footer responsive*/
    .footer .row .item3,
    .footer .row .item4 {
        margin-top: 30px;
    }
    
    /* copyright responsive*/
    .copy-content {
        order: 2;
        text-align: center;
    }

    .copy-list {
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 768px) {
    /* banner responsive*/
    .banner {
        width: 100%;
        min-height: 600px;
    }

    .banner-info h1 {
        font-size: 42px;
    }

    .banner-info p {
        font-size: 18px;
    }

    .right-sidebar {
        display: none;
    }

    /* booking responsive*/    
    .booking-bg-img {
        min-height: 250px;
    }

    .booking-content {
        padding: 15px;
    }

    /* contact responsive*/
    .contact {
        max-height: 450px;
    }

    .contact .welcome h3 {
        padding: 0;
    }

    /* statistic  responsive*/
    .statistic {
        margin-top: 0;
        padding: 24px 0;
    }

    .statistic .row .item {
        margin-top: 24px;
    }

    /* intro video responsive*/
    .intro-video {
        padding: 0;
    }

    /* footer responsive*/
    .footer-social-logo {
        margin: 24px 0 30px;
    }

    .footer-subscribe h1 {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 576px) {
     /*banner responsive  */
    .banner {
        max-width: 576px;
    }

    .navigation .search input,
    .navigation .search i{
        display: none;
    }

    .banner-info h1 {
        font-size: 30px;
    }

    .banner-info p {
        font-size: 16px;
    }

    .banner-info a {
        margin-top: 30px;
    }

    /* booking responsive */
    .booking-content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    /* intro video */
    .intro-video .content {
        min-height: 400px;
    }

    /* footer responsive */
    .footer {
        padding: 48px 0 24px;
    }

    .footer .row .item3 {
        margin-top: 0;
    }

    .footer .row .item4 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 450px) {
    .contact .welcome-btn .btn-right {
        margin-left: 10px;
        padding: 12px 20px;
    }

    .contact .welcome-btn .btn-left {
        padding: 12px 20px;
    }
}
